html {
    height: 100%;
    font-family: "Courier New", Courier, monospace; /* The spacing will kinda mess up if they default to monospace. */
    font-size: 16px;
}

body {
    height: 100%;
    min-width: 44em;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    letter-spacing: -1px;
    line-height: 1em;
}

.pre-container {
    max-height: 100%;
    width: 44em;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1px; /* Makes overflow-y only show scrollbar when the page isn't large enough. */
}

pre {
    margin: 0;
    width: 43em;
    font-family: inherit;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
    outline: none;
}

block::before {
    content: '█';
}

space::before {
    content: ' ';
}
